[Desktop Entry]
Name=Steam
Comment=Unofficial Steam plugin for KRunner
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
Icon=steam
X-KDE-PluginInfo-Author=Nagy Tibor
X-KDE-PluginInfo-Email=xnagytibor@protonmail.com
X-KDE-PluginInfo-Name=krunnersteam
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=DBus
X-Plasma-DBusRunner-Service=com.github.xtibor.krunnersteam
X-Plasma-DBusRunner-Path=/krunnersteam
